// Layout
$Mobile: 375px;
$Desktop: 1440px;

// Primary
$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);

// Neutral
$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);

// Paragraf
$Font-size: 15px;

// Font\
$Font-family: "Inter";

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype"),
    url("/assets/fonts/static/Inter-ExtraBold.ttf") format("truetype");
  font-style: normal;
}

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $Font-family;
}

body.backdrop {
  min-height: 100vh;
  width: 100%;
  backdrop-filter: brightness(80%);
}

.container {
  padding: 10px 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-brand {
    width: 60px;
    .navbar-logo {
      width: 100%;
      height: 100%;
    }
  }

  .hamburger-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 100;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -80%;
    width: 70%;
    height: 100vh;
    padding: 30px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    background-color: $Off-white;
    gap: 30px;

    .nav-item {
      font-size: 1.3em;

      .nav-link {
        text-decoration: none;
        font-weight: bold;
        color: $Very-dark-blue;
      }

      .nav-link:hover {
        color: $Soft-red;
      }
    }
  }

  .nav-menu.active {
    right: 0;
  }
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  margin-bottom: 50px;

  .hero-introduction {
    .hero-introduction__image {
      width: 100%;
    }

    .hero-introduction__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 15px;

      .hero-introduction__title {
        font-weight: 800;
        font-size: 2.5em;
      }

      .hero-introduction__description {
        color: $Dark-grayish-blue;
        font-size: $Font-size;
        line-height: 1.5em;
      }

      .hero-introduction__btn {
        color: $Off-white;
        border: none;
        background-color: $Soft-red;
        padding: 12px;
        width: 150px;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        cursor: pointer;
      }

      .hero-introduction__btn:hover {
        background-color: $Very-dark-blue;
        color: $Off-white;
      }
    }
  }

  .hero-news {
    background-color: $Very-dark-blue;
    padding: 20px;

    .hero-news__title {
      color: $Soft-orange;
      font-size: 1.8em;
      margin-bottom: 20px;
    }

    .hero-news__list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 20px;

      .hero-news__item {
        line-height: 1.6em;
        border-bottom: 1px solid $Dark-grayish-blue;
        padding: 10px 0;

        a {
          display: block;
          margin-bottom: 10px;
          cursor: pointer;
          text-decoration: none;
          color: $Off-white;
          font-size: 1.2em;
          font-weight: bold;
        }

        a:hover {
          color: $Soft-orange;
        }

        p {
          font-size: $Font-size;
          color: $Grayish-blue;
        }
      }
    }
  }
}

.section-news {
  width: 100%;
  padding-bottom: 50px;

  .section-news__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    .section-news__item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      font-size: $Font-size;

      .section-news__item__image {
        width: 120px;
      }

      .section-news__item__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
      }

      .section-news__item__text__number {
        font-size: 2.5em;
        color: $Grayish-blue;
      }

      .section-news__item__text__title {
        font-weight: bold;
        cursor: pointer;
        font-size: 1.1em;
      }

      .section-news__item__text__title:hover {
        color: $Soft-red;
      }

      .section-news__item__text__description {
        color: $Dark-grayish-blue;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    padding: 0 70px;
  }
  .navbar {
    .hamburger-button {
      display: none;
    }
    .nav-menu {
      position: static;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: auto;
      height: auto;
      padding-right: 0;

      .nav-item {
        margin-left: 10px;
        .nav-link {
          font-weight: normal;
          font-size: 1em;
        }
      }
    }
  }

  .hero {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: start;

    .hero-introduction {
      width: 100%;
      .hero-introduction__image {
        width: 100%;
      }

      .hero-introduction__text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        margin-top: 30px;

        .hero-introduction__title {
          font-size: 4em;
          font-weight: bolder;
        }

        .hero-introduction__summary {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 50px;
          width: 100%;

          .hero-introduction__description {
            font-size: 1.1em;
          }

          .hero-introduction__btn {
            width: 230px;
            padding: 20px;
          }
        }
      }
    }

    .hero-news {
      width: auto;
      padding: 40px 30px;

      .hero-news__title {
        font-size: 2.5em;
      }

      .hero-news__list {
        .hero-news__item {
          padding-bottom: 20px;
        }
      }
    }
  }

  .section-news {
    padding-bottom: 50px;
    .section-news__list {
      display: flex;
      flex-direction: row;

      .section-news__item {
        .section-news__item__image {
          width: 130px;
        }
        .section-news__item__text {
          .section-news__item__text__number {
            font-size: 3.5em;
          }
          .section-news__item__text__title {
            font-size: 1.6em;
          }
        }
      }
    }
  }
}
